.ohter-platform .close {
  right: 0.02rem !important;
  top: 0.01rem !important;
  position: absolute;
  width: 0.9rem;
  height: 0.38rem;
  line-height: 0.38rem;
  right: 0;
  top: 0;
  text-align: right;
  cursor: pointer;
  color: #51ccff;
  background-color: #05497f;
  font-size: 0.22rem;
  font-weight: 500;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  text-align: center;
  padding-left: 0.2rem;
}
